<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LotteryMapper">

    <resultMap type="Lottery" id="LotteryResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="status"    column="status"    />
        <result property="openStatus"    column="open_status"    />
        <result property="sort"    column="sort"    />
        <result property="remark"    column="remark"    />
        <result property="description"    column="description"    />
        <result property="rule"    column="rule"    />
        <result property="lotteryPeriod"    column="lottery_period"    />
        <result property="closePeriod"    column="close_period"    />
        <result property="nextCloseTime"    column="next_close_time"    />
        <result property="nextLotteryTime"    column="next_lottery_time"    />
        <result property="nextLotteryYear"    column="next_lottery_year"    />
        <result property="nextIssueNo"    column="next_issue_no"    />
        <result property="icon"    column="icon"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="createBy"           column="create_by"             />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lotteryLiveAddress"    column="lottery_live_address"    />
        <result property="specialNumberOddsAmount"    column="special_number_odds_amount"    />
        <result property="activitySpecialNumber"    column="activity_special_number"    />
        <result property="activitySpecialNumberOddsAmount"    column="activity_special_number_odds_amount"    />
        <result property="activitySpecialNumberStatus"    column="activity_special_number_status"    />
    </resultMap>

    <sql id="selectLotteryVo">
        select * from t_lottery
    </sql>

    <select id="selectLotteryList" parameterType="Lottery" resultMap="LotteryResult">
        select * from t_lottery
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="openStatus != null "> and open_status = #{openStatus}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="rule != null  and rule != ''"> and rule = #{rule}</if>
            <if test="lotteryPeriod != null "> and lottery_period = #{lotteryPeriod}</if>
            <if test="closePeriod != null "> and close_period = #{closePeriod}</if>
            <if test="nextCloseTime != null "> and next_close_time = #{nextCloseTime}</if>
            <if test="nextLotteryTime != null "> and next_lottery_time = #{nextLotteryTime}</if>
            <if test="nextLotteryYear != null "> and next_lottery_year = #{nextLotteryYear}</if>
            <if test="nextIssueNo != null  and nextIssueNo != ''"> and next_issue_no = #{nextIssueNo}</if>
        </where>
    </select>

    <select id="selectLotteryById" parameterType="Long" resultMap="LotteryResult">
        <include refid="selectLotteryVo"/>
        where id = #{id}
    </select>

    <insert id="insertLottery" parameterType="Lottery" useGeneratedKeys="true" keyProperty="id">
        insert into t_lottery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="status != null">status,</if>
            <if test="openStatus != null">open_status,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="description != null">description,</if>
            <if test="rule != null">rule,</if>
            <if test="lotteryPeriod != null">lottery_period,</if>
            <if test="closePeriod != null">close_period,</if>
            <if test="nextCloseTime != null">next_close_time,</if>
            <if test="nextLotteryTime != null">next_lottery_time,</if>
            <if test="nextLotteryYear != null">next_lottery_year,</if>
            <if test="nextIssueNo != null">next_issue_no,</if>
            <if test="lotteryLiveAddress != null">lottery_live_address,</if>
            <if test="icon != null">icon,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="status != null">#{status},</if>
            <if test="openStatus != null">#{openStatus},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="description != null">#{description},</if>
            <if test="rule != null">#{rule},</if>
            <if test="lotteryPeriod != null">#{lotteryPeriod},</if>
            <if test="closePeriod != null">#{closePeriod},</if>
            <if test="nextCloseTime != null">#{nextCloseTime},</if>
            <if test="nextLotteryTime != null">#{nextLotteryTime},</if>
            <if test="nextLotteryYear != null">#{nextLotteryYear},</if>
            <if test="nextLotteryPeriod != null">#{nextLotteryPeriod},</if>
            <if test="nextIssueNo != null">#{nextIssueNo},</if>
            <if test="lotteryLiveAddress != null">#{lotteryLiveAddress},</if>
            <if test="icon != null">#{icon},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLottery" parameterType="Lottery">
        update t_lottery
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="status != null">status = #{status},</if>
            <if test="openStatus != null">open_status = #{openStatus},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="description != null">description = #{description},</if>
            <if test="rule != null">rule = #{rule},</if>
            <if test="lotteryPeriod != null">lottery_period = #{lotteryPeriod},</if>
            <if test="closePeriod != null">close_period = #{closePeriod},</if>
            <if test="nextCloseTime != null">next_close_time = #{nextCloseTime},</if>
            <if test="nextLotteryTime != null">next_lottery_time = #{nextLotteryTime},</if>
            <if test="nextLotteryYear != null">next_lottery_year = #{nextLotteryYear},</if>
            <if test="nextIssueNo != null">next_issue_no = #{nextIssueNo},</if>
            <if test="lotteryLiveAddress != null">lottery_live_address = #{lotteryLiveAddress},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="specialNumberOddsAmount != null">special_number_odds_amount = #{specialNumberOddsAmount},</if>
            <if test="activitySpecialNumberStatus != null">activity_special_number_status = #{activitySpecialNumberStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLotteryById" parameterType="Long">
        delete from t_lottery where id = #{id}
    </delete>

    <delete id="deleteLotteryByIds" parameterType="String">
        delete from t_lottery where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getByName" parameterType="java.lang.String" resultMap="LotteryResult">
        select * from t_lottery where name = #{name} limit 1
    </select>

    <select id="getByCode" parameterType="java.lang.String" resultMap="LotteryResult">
        select * from t_lottery where code = #{code} limit 1
    </select>


</mapper>
