<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserBetLimitAmountMapper">

    <resultMap type="UserBetLimitAmount" id="UserBetLimitAmountResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="type"    column="type"    />
        <result property="singleTimeBetMinAmount"    column="single_time_bet_min_amount"    />
        <result property="singleTimeBetMaxAmount"    column="single_time_bet_max_amount"    />
        <result property="singlePeriodBetMaxAmount"    column="single_period_bet_max_amount"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="betLimitAmountName"    column="betLimitAmountName"    />
    </resultMap>

    <sql id="selectUserBetLimitAmountVo">
        select id, user_id, lottery_id, type, single_time_bet_min_amount, single_time_bet_max_amount, single_period_bet_max_amount, remark, create_time, update_time from t_user_bet_limit_amount
    </sql>

    <select id="selectUserBetLimitAmountList" parameterType="UserBetLimitAmount" resultMap="UserBetLimitAmountResult">
        select a.*,b.name as betLimitAmountName from t_user_bet_limit_amount a inner join t_bet_limit_amount_type b on a.type = b.type
        <where>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="lotteryId != null "> and a.lottery_id = #{lotteryId}</if>
            <if test="type != null "> and a.type = #{type}</if>
            <if test="singleTimeBetMinAmount != null "> and a.single_time_bet_min_amount = #{singleTimeBetMinAmount}</if>
            <if test="singleTimeBetMaxAmount != null "> and a.single_time_bet_max_amount = #{singleTimeBetMaxAmount}</if>
            <if test="singlePeriodBetMaxAmount != null "> and a.single_period_bet_max_amount = #{singlePeriodBetMaxAmount}</if>
        </where>
    </select>

    <select id="selectUserBetLimitAmountById" parameterType="Long" resultMap="UserBetLimitAmountResult">
        <include refid="selectUserBetLimitAmountVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserBetLimitAmount" parameterType="UserBetLimitAmount" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_bet_limit_amount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="lotteryId != null">lottery_id,</if>
            <if test="type != null">type,</if>
            <if test="singleTimeBetMinAmount != null">single_time_bet_min_amount,</if>
            <if test="singleTimeBetMaxAmount != null">single_time_bet_max_amount,</if>
            <if test="singlePeriodBetMaxAmount != null">single_period_bet_max_amount,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="lotteryId != null">#{lotteryId},</if>
            <if test="type != null">#{type},</if>
            <if test="singleTimeBetMinAmount != null">#{singleTimeBetMinAmount},</if>
            <if test="singleTimeBetMaxAmount != null">#{singleTimeBetMaxAmount},</if>
            <if test="singlePeriodBetMaxAmount != null">#{singlePeriodBetMaxAmount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserBetLimitAmount" parameterType="UserBetLimitAmount">
        update t_user_bet_limit_amount
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="lotteryId != null">lottery_id = #{lotteryId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="singleTimeBetMinAmount != null">single_time_bet_min_amount = #{singleTimeBetMinAmount},</if>
            <if test="singleTimeBetMaxAmount != null">single_time_bet_max_amount = #{singleTimeBetMaxAmount},</if>
            <if test="singlePeriodBetMaxAmount != null">single_period_bet_max_amount = #{singlePeriodBetMaxAmount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserBetLimitAmountById" parameterType="Long">
        delete from t_user_bet_limit_amount where id = #{id}
    </delete>

    <delete id="deleteUserBetLimitAmountByIds" parameterType="String">
        delete from t_user_bet_limit_amount where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
