<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="platformId"    column="platform_id"    />
        <result property="platformUserId"    column="platform_user_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="username"    column="username"    />
        <result property="sex"    column="sex"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="registerIp"    column="register_ip"    />
        <result property="registerLocation"    column="register_location"    />
        <result property="sameIp"    column="same_ip"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginLocation"    column="login_location"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, platform_id, platform_user_id, nickname, username, sex, password, type, status, last_login_time, register_ip, register_location, same_ip, login_ip, login_location, remark, create_time, update_time from t_user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        select a.*, b.name as platformName  from t_user a left join t_platform b on a.platform_id = b.id
        <where>
            <if test="platformId != null "> and a.platform_id = #{platformId}</if>
            <if test="platformUserId != null "> and a.platform_user_id = #{platformUserId}</if>
            <if test="nickname != null  and nickname != ''"> and a.nickname like concat('%', #{nickname}, '%')</if>
            <if test="username != null  and username != ''"> and a.username like concat('%', #{username}, '%')</if>
            <if test="sex != null "> and a.sex = #{sex}</if>
            <if test="type != null "> and a.type = #{type}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="lastLoginTime != null "> and a.last_login_time = #{lastLoginTime}</if>
            <if test="registerIp != null  and registerIp != ''"> and a.register_ip = #{registerIp}</if>
            <if test="registerLocation != null  and registerLocation != ''"> and a.register_location = #{registerLocation}</if>
            <if test="sameIp != null "> and a.same_ip = #{sameIp}</if>
            <if test="loginIp != null  and loginIp != ''"> and a.login_ip = #{loginIp}</if>
            <if test="loginLocation != null  and loginLocation != ''"> and a.login_location = #{loginLocation}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformId != null">platform_id,</if>
            <if test="platformUserId != null">platform_user_id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="username != null">username,</if>
            <if test="sex != null">sex,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="registerIp != null">register_ip,</if>
            <if test="registerLocation != null">register_location,</if>
            <if test="sameIp != null">same_ip,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="loginLocation != null">login_location,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformId != null">#{platformId},</if>
            <if test="platformUserId != null">#{platformUserId},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="username != null">#{username},</if>
            <if test="sex != null">#{sex},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="registerIp != null">#{registerIp},</if>
            <if test="registerLocation != null">#{registerLocation},</if>
            <if test="sameIp != null">#{sameIp},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="loginLocation != null">#{loginLocation},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="platformUserId != null">platform_user_id = #{platformUserId},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="username != null">username = #{username},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="registerIp != null">register_ip = #{registerIp},</if>
            <if test="registerLocation != null">register_location = #{registerLocation},</if>
            <if test="sameIp != null">same_ip = #{sameIp},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginLocation != null">login_location = #{loginLocation},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
