<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LotteryPrizeRecordMapper">

    <resultMap type="LotteryPrizeRecord" id="LotteryPrizeRecordResult">
        <result property="id"    column="id"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="amount"    column="amount"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLotteryPrizeRecordVo">
        select * from t_lottery_prize_record
    </sql>

    <select id="selectLotteryPrizeRecordList" parameterType="LotteryPrizeRecord" resultMap="LotteryPrizeRecordResult">
        select a.*,b.platform_id as platformId,c.name as platformName from t_lottery_prize_record a inner join t_user b on a.user_id = b.id
        inner join t_platform c on b.platform_id = c.id
        <where>
            <if test="lotteryId != null "> and a.lottery_id = #{lotteryId}</if>
            <if test="amount != null "> and a.amount = #{amount}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="platformId != null "> and b.platform_id = #{platformId}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectLotteryPrizeRecordById" parameterType="Long" resultMap="LotteryPrizeRecordResult">
        <include refid="selectLotteryPrizeRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertLotteryPrizeRecord" parameterType="LotteryPrizeRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_lottery_prize_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lotteryId != null">lottery_id,</if>
            <if test="amount != null">amount,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lotteryId != null">#{lotteryId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLotteryPrizeRecord" parameterType="LotteryPrizeRecord">
        update t_lottery_prize_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="lotteryId != null">lottery_id = #{lotteryId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLotteryPrizeRecordById" parameterType="Long">
        delete from t_lottery_prize_record where id = #{id}
    </delete>

    <delete id="deleteLotteryPrizeRecordByIds" parameterType="String">
        delete from t_lottery_prize_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
