<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BetRecordMapper">

    <resultMap type="BetRecord" id="BetRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="betAmount"    column="bet_amount"    />
        <result property="canWinAmount"    column="can_win_amount"    />
        <result property="betContent"    column="bet_content"    />
        <result property="displayBetContent"    column="display_bet_content"    />
        <result property="betOdds"    column="bet_odds"    />
        <result property="betAdditionalOdds"    column="bet_additional_odds"    />
        <result property="platformId"    column="platform_id"    />
        <result property="platformUserId"    column="platform_user_id"    />
        <result property="lotteryId"    column="lottery_id"    />
        <result property="issueNo"    column="issue_no"    />
        <result property="playTypeName"    column="play_type_name"    />
        <result property="displayPlayTypeName"    column="display_play_type_name"    />
        <result property="win"    column="win"    />
        <result property="winLoseAmount"    column="win_lose_amount"    />
        <result property="playTypeCode"    column="play_type_code"    />
        <result property="playTypeDetailCode"    column="play_type_detail_code"    />
        <result property="betNo"    column="bet_no"    />
        <result property="status"    column="status"    />
        <result property="cancelType"    column="cancel_type"    />
        <result property="betTime"    column="bet_time"    />
        <result property="countTime"    column="count_time"    />
        <result property="createBy"           column="create_by"             />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBetRecordVo">
        select id, user_id, bet_amount, can_win_amount, bet_content, display_bet_content, bet_odds, bet_additional_odds, platform_id, platform_user_id, lottery_id, issue_no, play_type_name, display_play_type_name, win, win_lose_amount, play_type_code, play_type_detail_code, bet_no, status
        , cancel_type, bet_time, count_time, create_time, update_time, create_by, update_by from t_bet_record
    </sql>

    <select id="selectBetRecordList" parameterType="BetRecord" resultMap="BetRecordResult">
        select a.*, b.name as lotteryName from t_bet_record a left t_lottery b on a.lottery_id = b.id
        <where>
            <if test="id != null "> and a.id = #{id}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="betAmount != null "> and a.bet_amount = #{betAmount}</if>
            <if test="canWinAmount != null "> and a.can_win_amount = #{canWinAmount}</if>
            <if test="betContent != null  and betContent != ''"> and a.bet_content = #{betContent}</if>
            <if test="displayBetContent != null  and displayBetContent != ''"> and a.display_bet_content = #{displayBetContent}</if>
            <if test="betOdds != null "> and a.bet_odds = #{betOdds}</if>
            <if test="betAdditionalOdds != null "> and a.bet_additional_odds = #{betAdditionalOdds}</if>
            <if test="platformId != null "> and a.platform_id = #{platformId}</if>
            <if test="platformUserId != null "> and a.platform_user_id = #{platformUserId}</if>
            <if test="lotteryId != null "> and a.lottery_id = #{lotteryId}</if>
            <if test="issueNo != null  and issueNo != ''"> and a.issue_no = #{issueNo}</if>
            <if test="playTypeName != null  and playTypeName != ''"> and a.play_type_name like concat('%', #{playTypeName}, '%')</if>
            <if test="displayPlayTypeName != null  and displayPlayTypeName != ''"> and a.display_play_type_name like concat('%', #{displayPlayTypeName}, '%')</if>
            <if test="win != null "> and a.win = #{win}</if>
            <if test="winLoseAmount != null "> and a.win_lose_amount = #{winLoseAmount}</if>
            <if test="playTypeCode != null "> and a.play_type_code = #{playTypeCode}</if>
            <if test="playTypeDetailCode != null  and playTypeDetailCode != ''"> and a.play_type_detail_code = #{playTypeDetailCode}</if>
            <if test="betNo != null  and betNo != ''"> and a.bet_no = #{betNo}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="cancelType != null "> and a.cancel_type = #{cancelType}</if>
            <if test="betTime != null "> and a.bet_time = #{betTime}</if>
            <if test="countTime != null "> and a.count_time = #{countTime}</if>
            <if test="createBy != null "> and a.create_by = #{createBy}</if>
            <if test="updateBy != null "> and a.update_by = #{updateBy}</if>
            <if test="beginTime != null">
                <choose>
                    <when test="timeType == 1">
                        and bet_time &gt;= #{beginTime}
                    </when>
                    <when test="timeType == 2">
                        and count_time &gt;= #{beginTime}
                    </when>
                    <otherwise>
                        and count_time &gt;= #{beginTime}
                    </otherwise>
                </choose>
            </if>
            <if test="endTime != null">
                <choose>
                    <when test="timeType == 1">
                        and bet_time &lt;= #{endTime}
                    </when>
                    <when test="timeType == 2">
                        and count_time &lt;= #{endTime}
                    </when>
                    <otherwise>
                        and count_time &lt;= #{endTime}
                    </otherwise>
                </choose>
            </if>
        </where>
            order by a.id desc
    </select>

    <select id="selectBetRecordById" parameterType="Long" resultMap="BetRecordResult">
        <include refid="selectBetRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertBetRecord" parameterType="BetRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_bet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="betAmount != null">bet_amount,</if>
            <if test="canWinAmount != null">can_win_amount,</if>
            <if test="betContent != null and betContent != ''">bet_content,</if>
            <if test="displayBetContent != null and displayBetContent != ''">display_bet_content,</if>
            <if test="betOdds != null">bet_odds,</if>
            <if test="betAdditionalOdds != null">bet_additional_odds,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="platformUserId != null">platform_user_id,</if>
            <if test="lotteryId != null">lottery_id,</if>
            <if test="issueNo != null and issueNo != ''">issue_no,</if>
            <if test="playTypeName != null and playTypeName != ''">play_type_name,</if>
            <if test="displayPlayTypeName != null">display_play_type_name,</if>
            <if test="win != null">win,</if>
            <if test="winLoseAmount != null">win_lose_amount,</if>
            <if test="playTypeCode != null">play_type_code,</if>
            <if test="playTypeDetailCode != null and playTypeDetailCode != ''">play_type_detail_code,</if>
            <if test="betNo != null">bet_no,</if>
            <if test="status != null">status,</if>
            <if test="cancelType != null">cancel_type,</if>
            <if test="betTime != null">bet_time,</if>
            <if test="countTime != null">count_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="betAmount != null">#{betAmount},</if>
            <if test="canWinAmount != null">#{canWinAmount},</if>
            <if test="betContent != null and betContent != ''">#{betContent},</if>
            <if test="displayBetContent != null and displayBetContent != ''">#{displayBetContent},</if>
            <if test="betOdds != null">#{betOdds},</if>
            <if test="betAdditionalOdds != null">#{betAdditionalOdds},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="platformUserId != null">#{platformUserId},</if>
            <if test="lotteryId != null">#{lotteryId},</if>
            <if test="issueNo != null and issueNo != ''">#{issueNo},</if>
            <if test="playTypeName != null and playTypeName != ''">#{playTypeName},</if>
            <if test="displayPlayTypeName != null">#{displayPlayTypeName},</if>
            <if test="win != null">#{win},</if>
            <if test="winLoseAmount != null">#{winLoseAmount},</if>
            <if test="playTypeCode != null">#{playTypeCode},</if>
            <if test="playTypeDetailCode != null and playTypeDetailCode != ''">#{playTypeDetailCode},</if>
            <if test="betNo != null">#{betNo},</if>
            <if test="status != null">#{status},</if>
            <if test="cancelType != null">#{cancelType},</if>
            <if test="betTime != null">#{betTime},</if>
            <if test="countTime != null">#{countTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateBetRecord" parameterType="BetRecord">
        update t_bet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="betAmount != null">bet_amount = #{betAmount},</if>
            <if test="canWinAmount != null">can_win_amount = #{canWinAmount},</if>
            <if test="betContent != null and betContent != ''">bet_content = #{betContent},</if>
            <if test="displayBetContent != null and displayBetContent != ''">display_bet_content = #{displayBetContent},</if>
            <if test="betOdds != null">bet_odds = #{betOdds},</if>
            <if test="betAdditionalOdds != null">bet_additional_odds = #{betAdditionalOdds},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="platformUserId != null">platform_user_id = #{platformUserId},</if>
            <if test="lotteryId != null">lottery_id = #{lotteryId},</if>
            <if test="issueNo != null and issueNo != ''">issue_no = #{issueNo},</if>
            <if test="playTypeName != null and playTypeName != ''">play_type_name = #{playTypeName},</if>
            <if test="displayPlayTypeName != null">display_play_type_name = #{displayPlayTypeName},</if>
            <if test="win != null">win = #{win},</if>
            <if test="winLoseAmount != null">win_lose_amount = #{winLoseAmount},</if>
            <if test="playTypeCode != null">play_type_code = #{playTypeCode},</if>
            <if test="playTypeDetailCode != null and playTypeDetailCode != ''">play_type_detail_code = #{playTypeDetailCode},</if>
            <if test="betNo != null">bet_no = #{betNo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cancelType != null">cancel_type = #{cancelType},</if>
            <if test="betTime != null">bet_time = #{betTime},</if>
            <if test="countTime != null">count_time = #{countTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBetRecordById" parameterType="Long">
        delete from t_bet_record where id = #{id}
    </delete>

    <delete id="deleteBetRecordByIds" parameterType="String">
        delete from t_bet_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="statCountBetRecordByDate"  resultType="com.ruoyi.system.pojo.BetRecordStatVO">
        select count(*) as totalCount,coalesce(sum(bet_amount),0) as totalAmount,coalesce(sum(win_lose_amount),0) as winLoseAmount from t_bet_record
        <where>
            <if test="platformId != null">
                and platform_id = #{platformId}
            </if>
            and status = 1 and create_time &gt;=#{beginTime} and create_time &lt;#{endTime}
        </where>
    </select>

    <select id="statCountBetRecordByDateAndLotteryId"  resultType="com.ruoyi.system.pojo.BetRecordStatVO">
        select count(*) as totalCount,coalesce(sum(bet_amount),0) as totalAmount,coalesce(sum(win_lose_amount),0) as winLoseAmount from t_bet_record
        <where>
            <if test="platformId != null">
                and platform_id = #{platformId}
            </if>
            <if test="lotteryId != null">
                and lottery_id = #{lotteryId}
            </if>
            and status = 1 and create_time &gt;=#{beginTime} and create_time &lt;#{endTime}
        </where>
    </select>

    <select id="statCountBetRecordByDateAndLotteryIdAndGroupByUserId"  resultType="com.ruoyi.system.pojo.BetRecordStatVO">
        select user_id as userId, count(*) as totalCount,coalesce(sum(bet_amount),0) as totalAmount,coalesce(sum(win_lose_amount),0) as winLoseAmount from t_bet_record
        where platform_id = #{platformId}
        <if test="lotteryId != null">
            and lottery_id = #{lotteryId}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        and status = 1 and create_time &gt;=#{beginTime} and create_time &lt;#{endTime} group by user_id
    </select>

    <select id="statCountBetRecordByDateAndGroupByLotteryId"  resultType="com.ruoyi.system.pojo.BetRecordStatVO">
       select a.*,b.name as lotteryName, from (select lottery_id as lotteryId, count(*) as totalCount,coalesce(sum(bet_amount),0) as totalAmount,coalesce(sum(win_lose_amount),0) as winLoseAmount from t_bet_record
        where platform_id = #{platformId} and status = 1 and create_time &gt;=#{beginTime} and create_time &lt;#{endTime} group by lottery_id) a inner join t_lottery b on a.lotteryId = b.id
    </select>

</mapper>
